@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
@import '_headings';
@import '_wp';

@layer base {
  body:not(.wp-admin) {
    @apply text-base text-dark bg-white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    p:not(.m-0) {
      @apply mt-1 mb-2;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-normal;
    @apply leading-headings;
  }

  h4,
  h5,
  h6 {
    @apply font-semibold;
  }

  @include h-sizes;

  a {
    @apply text-greyDark hover:text-green transition-colors;

    &.link {
      @apply text-dark hover:text-green;
    }
  }

  address {
    @apply not-italic;
  }

  strong {
    @apply font-semibold;
  }
}

:root {
  @include wp-vars;
}
