.wp-block-alchemis {
  &-content-section {
    &.is-style-dark {
      @apply text-white bg-dark;
    }

    &.is-style-grey {
      @apply bg-grey;
    }
  }
}

.wp-block-alchemis-testimonials,
[data-type='alchemis/testimonials'] {
  blockquote p {
    &::before {
      content: '„';
    }

    &::after {
      content: '”';
    }
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    content: none;
  }

  .swiper-button-prev {
    left: 0;
  }

  .swiper-button-next {
    right: 0;
  }

  .swiper-button-prev,
  .swiper-button-next {
    @apply text-grey-1;

    &:hover {
      @apply text-greyDark;
    }
  }
}

.wp-block-image {
  @apply text-center;

  img {
    @apply m-auto;
  }

  figcaption {
    color: inherit;
    font-size: inherit;
    text-align: inherit;
  }
}

.wp-block-latest-posts {
  &__list {
    @apply grid md:grid-cols-3 md:gap-3;

    li {
      @apply border-2 rounded-tl rounded-br border-grey-2 mb-3 md:mb-0 hover:shadow transition-shadow;
    }
  }

  &__featured-image {
    @apply rounded-tl rounded-br overflow-hidden m-[-2px];
  }

  &__post-title {
    @apply text-md leading-tight px-3 block pt-2 text-dark hover:text-green;
  }

  &__post-excerpt {
    @apply leading-tight pt-1 pb-3 px-3;
  }
}
