#app,
html:where(.editor-styles-wrapper) {
  input[type='text'],
  input[type='search'],
  input[type='email'],
  input[type='number'] {
    @apply border border-grey-4 outline-0;
    @apply w-full py-0.75 px-1;
    @apply leading-tight;
    @apply transition-colors;

    &:focus,
    &:focus-visible {
      @apply border-green;
    }

    &.input-alt {
      @apply text-center;
      @apply bg-grey;
      @apply rounded-tl-full rounded-br-full border-2 border-grey;
      @apply w-full py-0.75 px-2;
      @apply leading-normal;

      &:focus,
      &:focus-visible {
        @apply bg-grey/60;
      }
    }
  }
}

input[type='radio'],
.woocommerce ul#shipping_method li input {
  @apply w-1 h-1 rounded border-2 border-greyDark appearance-none;
  @apply inline-flex items-center justify-center transition-colors;
  @apply m-0 mt-[3px];
  @apply align-text-top;
  @apply cursor-pointer;

  &::after {
    content: '';
    @apply w-[0.5rem] h-[0.5rem] rounded bg-green scale-0 transition-transform;
  }

  &:checked {
    @apply border-green;

    &::after {
      @apply scale-100;
    }
  }

  & + label {
    @apply pl-0.75;
  }
}

input[type='checkbox'] {
  @apply w-1 h-1 rounded-[2px] border-2 border-greyDark appearance-none;
  @apply inline-flex items-center justify-center transition-colors;
  @apply m-0 mt-[3px];
  @apply align-text-top;
  @apply cursor-pointer;

  &::after {
    content: '';
    @apply w-[0.3rem] h-[0.6rem] scale-0 transition-transform;
    @apply border-r-2 border-b-2;
    @apply border-white;
    @apply rotate-45;
    @apply relative -top-[2px];
  }

  &:checked {
    @apply border-green;

    &::after {
      @apply scale-100;
      @apply border-green;
    }
  }

  & + label {
    @apply pl-0.75 -ml-[4px];
  }
}

label {
  @apply cursor-pointer;
}
