#app {
  @apply relative;
}

.maz {
  @apply absolute;
  @apply top-0 bottom-0;
  @apply overflow-hidden;
  @apply z-50;

  width: calc((50% - 580px));

  > div {
    position: absolute;
    width: 100%;
    background-repeat: no-repeat;
  }

  &.maz-left {
    left: 0;

    > div {
      @media (max-width: 1599px) {
        right: 0;
        background-position: right;
      }

      @media (min-width: 1600px) {
        left: 0;
      }

      &.bg-maz4,
      &.bg-maz6 {
        @media (min-width: 1400px) and (max-width: 1599px) {
          background-position: left;
        }
      }
    }
  }

  &.maz-right {
    right: 0;

    > div {
      @media (max-width: 1599px) {
        left: 0;
      }

      @media (min-width: 1680px) {
        right: 0;
        background-position: right;
      }
    }
  }

  .bg-maz1 {
    height: 906px;
    top: 0;
  }

  .bg-maz2 {
    height: 949px;
    top: 503px;
  }

  .bg-maz3 {
    height: 847px;
    top: 2000px;
    background-position: right;
  }

  .bg-maz4 {
    height: 825px;
    top: 3000px;
  }

  .bg-maz5 {
    height: 929px;
    top: 4000px;
  }

  .bg-maz6 {
    height: 876px;
    top: 5000px;
  }

  @media (max-width: 1279px) {
    display: none;
  }
}
