#app {
  @apply relative;
}

.maz {
  @apply absolute;
  @apply top-0 bottom-0;
  @apply overflow-hidden;

  width: calc((50% - 580px));

  > div {
    position: absolute;
  }

  &.maz-left {
    left: 0;

    > div {
      @media (max-width: 1669px) {
        right: 0;
      }

      @media (min-width: 1670px) {
        left: 0;
      }
    }
  }

  &.maz-right {
    right: 0;

    > div {
      @media (max-width: 1599px) {
        left: 0;
      }

      @media (min-width: 1600px) {
        right: 0;
      }
    }
  }

  .bg-maz1 {
    width: 258px;
    height: 906px;
    top: 0;
  }

  .bg-maz2 {
    width: 255px;
    height: 949px;
    top: 503px;
  }

  .bg-maz3 {
    width: 161px;
    height: 847px;
    top: 2000px;
  }

  .bg-maz4 {
    width: 117px;
    height: 825px;
    top: 3000px;
  }

  .bg-maz5 {
    width: 204px;
    height: 929px;
    top: 4000px;
  }

  .bg-maz6 {
    width: 120px;
    height: 876px;
    top: 5000px;
  }

  @media (max-width: 1279px) {
    display: none;
  }
}
