// general
.woocommerce-Price-amount {
  .product-grid &,
  .single-product & {
    @apply font-bold;
    @apply block;
    @apply text-md;
  }
}

// product loop
.product-grid {
  .woocommerce-Price-amount {
    @apply pt-0.75;
  }

  figure {
    img {
      @apply mx-auto;
    }
  }
}

// pagination
.woocommerce-pagination {
  @apply mt-3;

  ul {
    @apply flex justify-center;

    li {
      a,
      span {
        @apply p-0.75;
      }
    }
  }
}

// alerts
.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
  @apply text-dark;
  @apply border-dark;
  @apply bg-grey;
}

.woocommerce-info {
  @apply border-green;

  &::before {
    @apply text-green;
  }
}

.woocommerce-error {
  @apply border-red;
}

// gallery
$thumbnail-size: 120px;
$thumbnail-size-sm: 75px;

.woocommerce-product-gallery {
  @apply flex flex-col md:flex-row;

  .flex-viewport {
    @apply md:order-2 md:ml-3;
  }

  &__image {
    @apply max-w-full;

    img {
      @apply mx-auto;
    }
  }

  .flex-control-thumbs {
    @apply md:order-1;
    @apply flex flex-row flex-wrap md:flex-col;
    @apply mt-2 md:mt-0;

    li {
      flex: 0 0 $thumbnail-size-sm;
      min-width: $thumbnail-size-sm;
      max-width: $thumbnail-size-sm;

      @screen md {
        flex: 0 0 $thumbnail-size;
        min-width: $thumbnail-size;
        max-width: $thumbnail-size;
      }

      &:not(:last-child) {
        @apply md:mb-0.75 cursor-pointer;
      }

      img {
        @apply border border-transparent;

        &.flex-active {
          @apply border-grey-3;
        }
      }
    }
  }
}

// cart/checkout
.woocommerce {
  @apply container;
  @apply pb-6;

  table.shop_table {
    @apply border-0;
    @apply m-0;

    th {
      @apply font-normal;
    }

    tbody,
    tfoot {
      td {
        @apply font-normal;
      }
    }

    tbody {
      td {
        @apply border-grey-3;

        &.product-quantity {
          @apply md:w-[100px];
        }
      }

      tr:last-child {
        td {
          border: 0;
          @apply pb-3;
        }
      }
    }

    tfoot {
      td {
        @apply align-top;
        @apply border-0;
        @apply p-1;

        &::before {
          content: none;
        }
      }

      @screen md {
        tr {
          &:first-child td {
            @apply border-grey-3;
            @apply border-t;

            &:first-child {
              @apply border-grey-3;
              @apply border-l;
            }

            &:last-child {
              @apply border-grey-3;
              @apply border-r;
            }
          }

          &:last-child td {
            @apply border-grey-3;
            @apply border-b;
            @apply align-bottom;

            &:first-child {
              @apply border-grey-3;
              @apply border-l;
            }

            &:last-child {
              @apply border-grey-3;
              @apply border-r;
            }
          }
        }
      }
    }

    &.shop_table_responsive {
      tr:nth-child(2n) td {
        @apply bg-transparent;
      }
    }
  }

  a.remove {
    @apply font-normal;
    @apply text-xlg;

    color: theme('colors.red') !important;

    &:hover {
      @apply bg-red;
    }
  }
}

.woocommerce form .form-row-first,
.woocommerce form .form-row-last,
.woocommerce-page form .form-row-first,
.woocommerce-page form .form-row-last {
  @apply w-full;
}

.woocommerce form .form-row {
  @apply p-0 m-0;

  @screen md {
    .screen-reader-text {
      height: auto;
      overflow: visible;
      position: static !important;
      width: auto;
      margin: 0;
    }
  }

  .woocommerce-input-wrapper strong,
  label {
    @apply leading-label;
  }

  .required {
    @apply text-red;
  }

  textarea {
    @apply h-7;
  }
}

.woocommerce-billing-fields__field-wrapper,
.woocommerce-shipping-fields__field-wrapper {
  @apply grid md:grid-cols-2 gap-2;
}

#add_payment_method,
.woocommerce-cart,
.woocommerce-checkout {
  #payment {
    @apply bg-transparent;
  }
}

.woocommerce ul#shipping_method li {
  @apply m-0;

  line-height: inherit;
}

.woocommerce,
.woocommerce-page {
  #payment #place_order {
    float: none;
  }
}

.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register {
  @apply border border-grey-4;
  @apply pt-1 pb-3 px-3;
  @apply my-3 mb-4 md:mx-auto;
  @apply md:w-1/2;
  @apply rounded-none;
}

.woocommerce-NoticeGroup-updateOrderReview {
  @apply hidden;
}
